@import url("./inter.css");
@import url("./roboto.css");
/* @import url("./mso.css"); */
@import url("./oswald.css");
/* @import url("./pacifico.css"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: theme(colors.green.50);
  --foreground: theme(colors.green.700);
  --darkbackground: theme(colors.slate.700);
  --darkforeground: theme(colors.slate.200);
  /* --darkbg: #99154b; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: theme(colors.slate.700);
    --foreground: theme(colors.slate.200);
  }
}

/* body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
.dark {
  background: var(--darkbackground);
  color: var(--darkforeground);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  .mydark {
    @apply text-slate-200 bg-slate-700;
  }

  .mylight {
    @apply text-emerald-800 bg-emerald-50;
  }

  .vertical-text {
    /* writing-mode: vertical-rl; */
    writing-mode: vertical-lr;
    text-orientation: sideways;
  }

  body {
    @apply overflow-x-hidden flex flex-col dark:text-slate-200 dark:mydark mylight font-verdana font-normal text-[clamp(2.1vw,2.5vw,3.2vw)]/[clamp(2.1vw,2.5vw,3.4vw)] lg:text-[clamp(1vw,2vw,2.1em)]/[clamp(1.1vw,2.2vw,2.4vw)] min-h-[100vh];
  }
  h2 {
    @apply text-[6vw]/[6.5vw] md:text-[clamp(1.8vw,2vw,2.5vw)]/[2.6vw] font-oswald font-semibold uppercase;
  }
  h3 {
    @apply font-oswald font-semibold uppercase text-[3vw]/[3.5vw] lg:text-[clamp(1.2vw,1.5vw,1.8vw)]/[1.9vw];
  }
  img {
    @apply block w-full h-full;
  }
}
